@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>Good humor on your local host.</p>
    <p>Local host için hiç fena olmayan mizah...</p>
</div>
